# Object files
*.o

# Executable files
*-exe

# Makefile
Makefile

*.deps
*.log
*.scan
*.cache
*.trs
*.in
*.status
*~

aclocal.m4
compile
config.h
configure
depcomp
install-sh
missing
stamp-h1
test-driver
src/client/client
src/server/server
